<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<%- include('partials/header.ejs') %>
	<h1>Productos</h1>
	<ul>
		<% for (let i = 0; i < productsList.length; i++) { %>
			<li>
				<img src='<%= productsList[i].imagen %>' alt="" width="100">
			</li>
			<li>
				<%= productsList[i].nombre %>
			</li>
			<li>
				<%= productsList[i].descripcion %>
			</li>
			<li>
				Cant. comentarios:
					<% if (coments[i]) { %>
						<%= coments[i].length %>
					<% } else { %>
						0
					<% } %>
			</li>
		<% } %>
	</ul>
</body>
</html>