<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>   
<body>
	<% if (locals.user != undefined) { %>
		<%- include('partials/headerLogueado.ejs') %>
	<% } else { %>
		<%- include('partials/header.ejs') %>
	<% } %>

	<main class="container">
    
    <div class="container products-wrapper">
    <a href="/" class="btn-volver">← Volver</a>
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= products.producto %></h2> 
			<p class="product-detail-description">
				<a href="product-edit.html">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= products.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= products.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						
            <% if (products.comentarios && products.comentarios.length > 0) { %>
            <% for( let i = 0; i < products.comentarios.length; i++ ) { %>
                <article>
									<img src="<%= products.comentarios[i].user.fotoPerfil %>" alt="" style="width: 50px;">
									<div class="data">
										<p class="user">
											<strong>
												<a href="/users/viewProfiles/<%= products.comentarios[i].user.id %>">
													<%= products.comentarios[i].user.nombreUsuario %>
												</a>
											</strong>
										</p>
										<p><%= products.comentarios[i].comentario %></p>
									</div>
								</article>
                <hr>
            <% } %>
            <% } else { %>
                <p>No hay comentarios aún. Sé el primero en comentar.</p>
            <% } %>
					</section>
            <% if (locals.user != undefined) { %>
                <form class="form" action="/product/comentario" method="POST">
                    <input type="hidden" name="idProducto" value="<%= products.id %>">
                    <input class="form-input" type="text" name='comentario' value="" placeholder="Agregar comentario" required>
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
            <% } else { %> 
                <p><a href="/users/login">Iniciá sesión</a> para comentar</p>
            <% } %>

					
				</div>
			</div>
		</div>
	</div>




</main>

<%- include('partials/footer.ejs') %>
</body>
</html>
