<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title><%= productos.nombre %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
  
  <main class="container">
    <a href="/" class="btn-volver">â† Volver</a>

    <div class="productos-detail">
      <img src="<%= productos.imagen %>" alt="<%= productos.nombre %>" style="max-width:100%;">
      <h1><%= productos.nombre %></h1>
      <p><%= productos.descripcion %></p>

      <!--Faltaria comentarios, hay que hacer relacion con el modelo de producto y comentarios xd :) <3 -->
    </div>
  </main>

  <%- include('partials/footer.ejs') %>
</body>
</html>
